.coursecontainer{
    margin: 0 auto;
    max-width: 1440px;
}
.frontendtitle{
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fronticon{
    width: 60px;
}
.fronttitle{
    font-size: 52px;
    font-weight: bold;
}
.htmlandcss{
    height: 300px;
    display: flex;
    width: 100%;
}
.htmlcourse,.csscourse{
    width: 50%;
    height: 100%;
}
.htmltitle{
    font-size: 43px;
    height: auto;
    text-align: center;
}
.htmldesc{
    width: 100%;
    height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.htmltext,.imagehtmlcourse{
    height: auto;
    width: 50%;
    text-align: justify;
}
.imagehtmlcourse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.samplecode{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.codetitle {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.javascript{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.javscriptext,.javascriptimg{
   
    width: 100%;
    height: 100%;
}
.javscriptext{
    display: flex;
    width: 900px;
    text-align: center;
    align-items: center;
}
.javascriptimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.javascriptsample{
    display: flex;
    align-items: center;
    justify-content: center;
}
.php,.phptext{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.phptext{
    max-width: 930px;
}

@media (max-width: 1273px) {
    .htmlandcss,.javascript {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        max-width: 100%;
        height: auto;
        margin: 10px auto; 
    }
}