.content-renderer pre {
  background-color: #e0e0e0; /* Grey background */
  border: 1px solid #ddd; /* Light border for better visibility */
  padding: 5px; /* Space around the code */
  border-radius: 4px; /* Rounded corners */
  overflow-x: auto; /* Horizontal scroll if code is too long */
}

.content-renderer code {
  background-color: #e0e0e0;
  width: auto;
  font-family: monospace; /* Use monospace font for code */
}

.content-renderer b {
  color:black;/* Use monospace font for code */
  background-color: rgb(203, 203, 203);
  border:1px;
  padding: 5px;
  border-radius: 4px;
  overflow-x: auto;
}
