/* animations.css */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
div.fixed.bottom-0.left-0.w-full.bg-white.p-4.shadow-md.flex.justify-between.items-center {
  position: absolute;
  left: 250px; /* adjust this value to match your sidebar width */
  bottom: 0;
  width: calc(100% - 250px); /* adjust this value to match your sidebar width */
}


.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar > div {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #ff9800;
}
